<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/resources/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/simple.css">
  <script type="text/javascript" language="javascript" src="/resources/local.js"></script>
  <script type="text/javascript" language="javascript" src="/resources/jquery.min.js"></script>

  <title>FSU CS Admission System</title>

  <style>
    html,
    body {
      height: 95vh;
    }
  </style>

  <script type="text/javascript" language="javascript" class="init">
    $(document).ready(function () {
      if ($("#flash").length > 0) {
        msg = $("#flash").html();
        toast(msg);
      }
    });
  </script>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Login to CS Admission</h3>
        </div>
        <hr/>

        <div class="panel-body">
          <form accept-charset="UTF-8" role="form" action="/login" method="post">
            <div class="form-group">
              <label for="user_name">User name:</label>
              <input class="form-control" id="user_name" name="user_name" type="text">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input class="form-control" id="password" name="password" type="password" value="">
            </div>
            <button class="btn btn-primary btn-block" type="submit">Login</button>
          </form>
        </div>

        {{#if flash}}
        <div id="flash"> Error: {{flash}} </div>
        {{/if}}

        <div id="snackbar">Snackbar</div>
      </div>
    </div>
  </div>
</body>

</html>