<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0">
    <title>Applications to FSU CS Graduate Programs</title>

    <link rel="stylesheet" type="text/css" href="/resources/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/resources/simple.css">

    <script type="text/javascript" language="javascript" src="/resources/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="/resources/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/resources/local.js"></script>

    <script type="text/javascript" language="javascript" class="init">
        $(document).ready(function () {
            // DataTable
            var table = $('#users').DataTable({
                "searching": false,
                "scrollY": "32em",
                "scrollCollapse": false,
                "paging": false,
                "info": false,
                "ajax": {
                    "url": "/user",
                    "dataSrc": ""
                },

                "columns": [
                    {
                        "className": 'delete-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    {
                        "data": "user_name"
                    },
                    {
                        "data": "role"
                    },
                    {
                        "data": "password"
                    }
                ],
                "order": [[0, 'desc']]
            });

            // open a review window
            $('#users tbody').on('click', 'td.delete-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);
                var row_data = row.data();

                $.ajax({
                    type: "DELETE",
                    url: "/user/" + row_data["user_name"],
                    complete: function (data) { toast(data.responseJSON["status"]); table.ajax.reload(); }
                });
            });

            $("#btn_new").click(function () {
                var json_obj = {};

                json_obj.user_name = $("#input_name").val().trim();
                json_obj.role = $("#input_role").val().trim();
                json_obj.salt = "salt";
                json_obj.password = $("#input_password").val().trim();;

                if (json_obj.user_name.length <= 0) {
                    toast("User name cannot be empty!");
                    return;
                } else if (json_obj.role.length <= 0) {
                    toast("Role cannot be empty!");
                    return;
                } else if (json_obj.password.length <= 0) {
                    toast("Password cannot be empty!");
                    return;
                }

                var json = JSON.stringify(json_obj);
                $.ajax({
                    type: "POST",
                    url: "/user/",
                    data: json,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    complete: function (data) { toast(data.responseJSON["status"]); table.ajax.reload(); }
                });
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4" style="border-right: 1px solid lightgray;">

            </div>
            <div class="col-4" style="border-right: 1px solid lightgray;">
                <div id="snackbar">Error message here..</div>
                <div>
                    <h3>Existing Users</h3>
                    <hr/>
                    <table id="users" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>User Name</th>
                                <th>Role</th>
                                <th>Password</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <p style="white-space: pre" />
                <div>
                    <h3>New User</h3>
                    <hr/>
                    <div>
                        <form>
                            <div class="form-group">
                                <label for="input_name">User name:</label>
                                <input type="text" class="form-control" id="input_name">
                            </div>
                            <div class="form-group">
                                <label for="input_role">Role:</label>
                                <select class="form-control" id="input_role">
                                    <option>User</option>
                                    <option>Sys</option>
                                </select>
                                <!-- <input type="text" class="form-control" id="input_role"> -->
                            </div>
                            <div class="form-group">
                                <label for="input_role">Password:</label>
                                <input type="text" class="form-control" id="input_password">
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary" id="btn_new">Add</button>'
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</body>

</html>